html body {
    /* gray */
    /* background-color: rgb(235, 235, 235); */
    /* very light orange */
    background-color: #fff2e8;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.root {
    width: 90vw;
    max-width: 1200px;
    padding-top: 64px;
    margin: auto;
}

.rootMobile {
    width: 100%;
    padding-top: 64px;
    display: flex;
    align-self: center;
    margin: auto;
}

/*****************/
/** card **/
.card-login {
    width: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

/*****************/
/** login form **/
.login-form {
    width: 100%;
    max-width: 400px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}
